---
page_title: "{{ .ProviderShortName | title }} Provider"
description: |-
{{ .Description | trimspace | prefixlines "  " }}
---

# {{ .ProviderShortName | title }} Provider

{{ .Description | trimspace }}

## Environment Variables

!> The Bowtie provider requires valid credentials to perform API calls. Make sure that your username and password are set securely via either approach mentioned here. Setting credentials via plain values passed to the `bowtie { }` provider configuration block is supported, but discouraged.

In addition to the username and password parameters to the `{{ .ProviderShortName }}` resource, you may also populate environment variables to authenticate calls to the Bowtie API.

To do so, set the `BOWTIE_USERNAME` and `BOWTIE_PASSWORD` environment variables and leave the `username` and `password` fields unset for the `bowtie { }` provider configuration block.

The target API endpoint can also be set via the `BOWTIE_HOST` environment variable.

You may also use [traditional Terraform variables with `TF_VAR` environment variables to inject configuration values](https://developer.hashicorp.com/terraform/cli/config/environment-variables#tf_var_name) depending on your preference.

## Example Usage

{{ tffile .ExampleFile }}

{{ .SchemaMarkdown | trimspace }}
